body, html{
    padding: 0;
    margin: 0;
    background-color: #16213e;
}

*{
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    color: #fafafa;
}

@media (max-width: 992px){
  *{
    font-size: 16px;
  }
}

.icon{
    color: #fafafa;
    width: 40px;
    height: 40px;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.page-title{
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #444;
  margin: 0;
}

.page-title .icon{
  width: 32px;
  margin-right: 15px;
}